<div class="items column column-4">
  <h2>Projects</h2>
  <ul class="projects">
    <li><a href="/cunningham">Cunningham</a></li>
    <li><a href="/school-wellness">School Wellness</a></li>
  </ul>
</div>


<!-- <h3>Currently:</h3>
<p><a href="https://generalassemb.ly/washington-dc" target="_blank">General Assembly</a></p>
<h3>Previously:</h3>
<p><a href="http://www.ettodc.com" target="_blank">Etto</a></p>
<p><a href="http://www.columbiaroomdc.com" target="_blank">Columbia Room</a></p>
<p><a href="http://www.drinkmoresherry.com" target="_blank">Mockingbird Hill</a></p> -->
