<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>Matt Ficke</title>
	<link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Roboto+Slab' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="/css/styles.css" />
	<script src="/js/script.js"></script>
</head>
<body>

	<header class="row">
		<h1><a class="name" href="/">Matt Ficke</a></h1>
		<nav>
			<ul>
				<li><a href="mailto:matthew.ficke@gmail.com">matthew.ficke@gmail.com</a></li>
				<li><a href="http://www.twitter.com/mattficke" target="_blank">@mattficke</a></li>
				<li><a href="http://www.github.com/mattficke">Github</a></li>
				<li><a href="https://www.linkedin.com/in/mattficke">LinkedIn</a></li>
			</ul>
		</nav>
	</header>
	<div class="row">
		<p>A full-stack web developer in Washington, D.C. <a href="/files/matt_ficke_resume.pdf">Hire Me!</a></p>

	</div>


	{{ content }}

</body>
</html>
