<!DOCTYPE html>
<html>
<head>
	<title>Matt Ficke</title>
	<link rel="stylesheet" href="/css/styles.css" />
</head>
<body>
	
	<div id="main">
		
		<ul class="navigation">
			<!--<li><a href="/">Home</a></li>-->
			<li><a href="mailto:matthew.ficke@gmail.com">matthew.ficke@gmail.com</a></li>
			<li><a href="http://www.twitter.com/mattficke" target="_blank">@mattficke</a></li>
			<li><a href="http://instagram.com/mattficke" target="_blank">Instagram</a></li>
		</ul>
		
		{{	content	}}
	
	</div>
	
</body>
</html>