<!DOCTYPE html>
<html>
<head>
	<title>Matt Ficke</title>
	<link rel="stylesheet" href="/css/styles.css" />
	<script src="/js/script.js"></script>
</head>
<body>
	<header class="row header">
		<a href="/"><h1 class="name column column-4">Matt Ficke</h1></a>
		<!-- <a href="http://www.theatlantic.com/video/archive/2013/02/the-blue-blazer-how-to-make-americas-original-flaming-cocktail/273193/" target="_blank">Matt Ficke</a> -->
		<div class="column column-4"></div>
		<ul class="navigation column column-4">
			<li><a href="mailto:matthew.ficke@gmail.com">matthew.ficke@gmail.com</a></li>
			<li><a href="http://www.twitter.com/mattficke" target="_blank">@mattficke</a></li>
			<li><a href="http://instagram.com/mattficke" target="_blank">Instagram</a></li>
			<li><a href="http://www.github.com/mattficke">Github</a></li>
			<li><a href="https://www.linkedin.com/in/mattficke">LinkedIn</a></li>
		</ul>
	</header>

	<main>

		{{  content	 }}

	</main>

</body>
</html>
